
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body { 
    background-color: #F1F1F3; 
}

* { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container { 
    max-width: 1024px; 
}

#app { 
    height: 100%; 
}

#content {
    margin-top: -80px;
    margin-bottom: 30px;
}
.el-card {
    min-height: 456px;
}